<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenGMS Dev</title>
    <link rel="stylesheet" href="./stylesheets/common.css" />
    <link rel="stylesheet" href='./stylesheets/download.css' />
</head>
<body>
    <div class="container">
        <!--页眉-->
        <% include common/header %>
        <!--主内容-->
        <div class="main">
            <!-- <div class="main-menu">
                <p class="main-menu-p">Windows</p>
                <p class="main-menu-p selected">MacOS</p>
                <p class="main-menu-p">Linux</p>
            </div> -->
            <div class="main-content">
                <div class="markdown">
                    <!--markdown主标题-->
                    <h1 class="markdown-h1">SDK</h1>
                    <div class="markdown-item">
                        <!--markdown中每一项标题-->
                        <h2 class="markdown-h2">Model Service SDK</h2>
                        <ul>
                            <li>SDK for model service container.</li>
                            <li>
                                <a target="_blank" href="https://gitee.com/geomodeling/NJModelServiceSDK">Clone or Download</a>
                            </li>
                        </ul>
                    </div>
                    <div class="markdown-item">
                        <h2 class="markdown-h2">Data Service SDK</h2>
                        <ul>
                            <li>SDK for Data Service.</li>
                            <li>
                                <a target="_blank" href="https://github.com/Makoq/InsituSDK">Clone or Download</a>
                            </li>
                        </ul>
                    </div>
                    <div class="markdown-item">
                        <h2 class="markdown-h2">NGIS_Solution</h2>
                        <ul>
                            <li>NGIS_Solution is a project for Universal Data eXchange Model (UDX model), Model
                                Encapsualtion, Model Description Language (MDL) in OpenGMS Platform.</li>
                            <li>
                                <a target="_blank" href="https://gitee.com/opengms/NGIS_Solution">Clone or Download</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="markdown">
                    <h1 class="markdown-h1">Tools</h1>
                    <div class="markdown-item">
                        <h2 class="markdown-h2">Model Service Container</h2>
                        <ul>
                            <li>An application used to publish model services in local machine.</li>
                            <li>
                                <span style="margin-right:20px">Download:</span>
                                <span class="item-platform">
                                    <a href="./resources/ContainerPacking_Windows.zip">Windows</a>
                                </span>
                                <span class="item-platform">
                                    <a href="./resources/ContainerPacking_MacOS.zip">MacOS</a>
                                </span>
                                <span class="item-platform">
                                    <a href="./resources/ContainerPacking_Linux.zip">Linux</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="markdown">
                    <h1 class="markdown-h1">Documents</h1>
                    <div class="markdown-item">
                        <h2 class="markdown-h2">Model Classification Standard</h2>
                        <ul>
                            <li>Geographic model classification standard.</li>
                            <li>
                                <a target="_blank" href="https://geomodeling.njnu.edu.cn/static/doc/classification.pdf">Download</a>
                            </li>
                        </ul>
                    </div>
                    <div class="markdown-item">
                        <h2 class="markdown-h2">Model Metadata Standard</h2>
                        <ul>
                            <li>This standard stipulates the content of metadata related to a geographic analysis
                                model, including the information about the researcher & developer, distributor, distribution
                                identifier, identifier of the associated project, revision, classification, scope of application,
                                performance, reference system, parameters, modeling principle, solving method, running
                                structure, coupling mode, hardware/software conditions for model running, verification,
                                release, metadata reference, and other related characteristics.
                            </li>
                            <li>
                                <a target="_blank" href="https://geomodeling.njnu.edu.cn/static/doc/Model_Metadata_Standard.pdf">Download</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--页脚-->
        <%include common/footer%>
    </div>
</body>
<script src="./javascripts/jquery.min.js"></script>
<scirpt src="./javascripts/download.js"></scirpt>
</html>