<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Open geographic modeling and simulation platform development guides" />
    <title>OpenGMS Dev</title>
    <link rel="stylesheet" href="./stylesheets/common.css" />
    <link rel="stylesheet" href="./stylesheets/home.css" />
</head>
<body>
    <div class="container">
        <!--页眉-->
        <% include common/header %>
        <!--主要内容-->
        <div class="main" style="display:flex">
            <div class="main-content">
                <div style="width:calc(100% - 620px)">
                    <h1 class="content-h1">OpenGMS
                        Development Guides
                    </h1>
                    <p class="content-p">
                        OpenGMS (open geographic modeling and simulation) group aims to geographic modeling and simulation resources sharing. <br />
                        This openGMS development guides website provides some usage guides and API documents to help learn or use tools and services provided by the openGMS group.
                    </p>
                    <div class="tools">
                        <a href="./download" class="tools-item">
                            <span>Download &gt;&gt;</span>
                        </a>
                        <a href="./doc" class="tools-item">
                            <span>API Doc &gt;&gt;</span>
                        </a>
                        <a href="./community" class="tools-item">
                            <span>Community &gt;&gt;</span>
                        </a>
                    </div>
                </div>
                <div style="position:absolute;top:50%;right:0;transform:translateY(-50%);width:580px">
                    <img style="width:100%" src="./images/banner.png" />
                </div>
            </div>
        </div>
        <!--页脚-->
        <%include common/footer%>
    </div>
    <script src="./javascripts/jquery.min.js"></script>
</body>
</html>